@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400);

body,
form input[type="text"] {
  font-family: "Open Sans", sans-serif;
}

.core {
  fill: #d62728;
  stroke: #fff;
  stroke-width: 1.5px;
}
.agg {
  fill: #ff7f0e;
  stroke: #fff;
  stroke-width: 1.5px;
}
.edge {
  fill: #1f77b4;
  stroke: #fff;
  stroke-width: 1.5px;
}
.host {
  fill: #2ca02c;
}
.cable {
  stroke: #999;
  stroke-width: 1.2px;
  stroke-opacity: 0.6;
}
.ocs {
  stroke: #9467bd;
  stroke-width: 2px;
  stroke-opacity: 0.8;
  fill: none;
}

svg.main {
  display: block;
  margin: auto;
  z-index: -1;
}

div.control {
  position: absolute;
  right: 0.1in;
  left: 0.1in;
  width: 2in;
  padding-top: 0.1in;
  padding-bottom: 0.1in;
  padding-left: 0.15in;
  margin-right: 0.1in;
  background: #eee;
  font-size: 0.13in;
}

form ul {
  list-style-type: none;
  margin: 0.1in;
  padding: 0;
}

form ul li {
  margin-left: 1in;
  padding-bottom: 0.01in;
  line-height: 0.23in;
}

form input[type="text"] {
  width: 0.3in;
  border: 1px solid #ccc;
  font-size: 0.13in;
}

form span.f {
  margin-left: -1.1in;
  width: 1in;
  text-align: right;
  padding-right: 0.05in;
  float: left;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
div.comment {
  color: #666;
  text-align: center;
  margin-right: 0.1in;
}
div.comment a {
  color: #66c;
}
